wireframe.docx
~$reframe.docx
assets/actividades0
app/assets/escenas0
assets/escenas0PNG
assets/escenasPNG
assets/actividadesPNG
slides0.js
app0.js
.htaccess
.htpasswd
passgen.php
whereami.php
index.html
!educacion-financiera-primaria/index.html
!colegios/index.html
!programa-educacion-financiera-4-primaria/index.html
!programa-educacion-financiera-5-primaria/index.html
!programa-educacion-financiera-6-primaria/index.html
!packs-tematicos/index.html
!configuracion-flexible/index.html
!preguntas-frecuentes/index.html
.env
.vercel
.env*.local
